.blogsnippet {
  min-width: 25rem;
  min-height: 20rem;
  background: #fff;
  margin: 2rem 4rem;
  box-shadow: 4px 4px 10px orange, 5px 5px 8px yellow, 7px 7px 5px red;
}

.bsTitle {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}

.bstexthighlight{
  color: #222;
  font-size: 1rem;
  font-weight: 400;
}
