$primary-font-color: #ffc06d;
$primary-shadow-color: #fff;
$secondary-shadow-color: yellow;

.navbar-brand {
  color: $primary-font-color;
}
.nav-link{
  color: $primary-font-color;
}

.cosmos-floating-container {
  position: relative;
}

.cosmos-floating {
  color: $primary-font-color;
  text-shadow: 2px 2px 4px $primary-shadow-color, 1px 1px 1px $secondary-shadow-color;
  z-index: 100;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  font-weight: 500;
  font-size: 2rem;
  left:100%;
  top: 16.2%;
}
.cosmos-floating1 {
  color: $primary-font-color;
  text-shadow: 5px 5px 4px $primary-shadow-color, 2px 2px 1px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 165s;
  animation-iteration-count: infinite;
  font-size: 2rem;
  font-weight: 500;
  left:100%;
  top: 20.75%;
}

.cosmos-floating2 {
  color: $primary-font-color;
  text-shadow: 2px 2px 4px $primary-shadow-color, 1px 1px 1px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  font-size: 2rem;
  font-weight: 500;
  left:100%;
  top: 20.9%;
}
.cosmos-floating3 {
  color: $primary-font-color;
  text-shadow: 2px 2px 4px $primary-shadow-color, 1px 1px 1px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 135s;
  animation-iteration-count: infinite;
  font-size: 2rem;
  font-weight: 500;
  left:100%;
  top: 16%;
}

.cosmos-floating4 {
  color: $primary-font-color;
  text-shadow: 5px 5px 10px $primary-shadow-color, 3px 3px 1px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  font-size: 2rem;
  font-weight: 500;
  left:100%;
  top: 21%;
}

.cosmos-floating5 {
  color: $primary-font-color;
  text-shadow: 5px 5px 10px $primary-shadow-color, 3px 3px 1px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 105s;
  animation-iteration-count: infinite;
  font-size: 2rem;
  font-weight: 500;
  left:100%;
  top: 21%;
}
.header-image {
  width: 8rem;
  height: 8rem;
  // margin: auto;
  // padding: 1rem;
  position: absolute;
  animation-name: freeflow1;
  animation-duration: 4s;
  border-radius: 2px;
  z-index: 1;
  left:52.5%;
  top: 15%;
}

.cosmos-floating6 {
  color: $primary-font-color;
  text-shadow: 2px 2px 4px $primary-shadow-color, 1px 1px 3px $secondary-shadow-color;
  z-index: 100;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 180s;
  z-index: 10;
  font-weight: 500;
  font-size: 10rem;
  left:36.3%;
  top: 16.2%;
}
.cosmos-floating7 {
  color: $primary-font-color;
  text-shadow: 5px 5px 4px $primary-shadow-color, 2px 2px 3px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 165s;
  font-size: 7.3rem;
  font-weight: 500;
  left:41.55%;
  top: 20.75%;
}

.cosmos-floating8 {
  color: $primary-font-color;
  text-shadow: 2px 2px 4px $primary-shadow-color, 1px 1px 3px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 150s;
  font-size: 7.5rem;
  font-weight: 500;
  left:45.9%;
  top: 20.9%;
}
.cosmos-floating9 {
  color: $primary-font-color;
  text-shadow: 2px 2px 4px $primary-shadow-color, 1px 1px 3px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 135s;
  z-index: 115;
  font-size: 10rem;
  font-weight: 500;
  left:49.5%;
  top: 16%;
}

.cosmos-floating10 {
  color: $primary-font-color;
  text-shadow: 5px 5px 10px $primary-shadow-color, 6px 6px 3px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 120s;
  z-index: 5;
  font-size: 7.3rem;
  font-weight: 500;
  left:55.8%;
  top: 21%;
}

.cosmos-floating11 {
  color: $primary-font-color;
  text-shadow: 5px 5px 10px $primary-shadow-color, 6px 6px 3px $secondary-shadow-color;
  position: absolute;
  animation-name: freetextflow-default;
  animation-duration: 105s;
  z-index: 15;
  font-size: 7.5rem;
  font-weight: 500;
  left:60.2%;
  top: 21%;
}
.header-image1 {
  width: 15rem;
  height: 15rem;
  // margin: auto;
  // padding: 1rem;
  position: absolute;
  animation-name: freeflow;
  animation-iteration-count: infinite;
  animation-duration: 190s;
  border-radius: 2px;
  z-index: 101;
  left:49.5%;
  top: 6%;
}
.header-image2 {
  width: 10rem;
  height: 10rem;
  // margin: auto;
  // padding: 1rem;
  position: absolute;
  animation-name: freeflow;
  animation-iteration-count: infinite;
  animation-duration: 230s;
  border-radius: 2px;
  z-index: 1;
}
// .header-image-overlay {
//   width: 100%;
//   height: 30rem;
//   border-radius: 5px;
//   z-index: 1;
//   background-color: #000;
//   // border: 40px solid #000;
// }

@media (max-width: 600px) {

  .cosmos-floating,
  .cosmos-floating1,
  .cosmos-floating2,
  .cosmos-floating3,
  .cosmos-floating4,
  .cosmos-floating5 {
    font-size: 1.25rem;
  }

  .header-image1 {
    width: 5rem;
    height: 5rem;
    border-radius: 2px;
    z-index: 1;
    // margin: auto;
    // padding: 1rem;
    position: absolute;
    animation-name: freeflow;
    animation-duration: 300s;
  }
  .header-image2 {
    width: 3rem;
    height: 3rem;
    // margin: auto;
    // padding: 1rem;
    position: absolute;
    animation-name: freeflow;
    animation-iteration-count: infinite;
    animation-duration: 190s;
    border-radius: 2px;
    z-index: 10;
  }
  .header-image {
    width: 7rem;
    height: 7rem;
    // margin: auto;
    // padding: 1rem;
    position: absolute;
    animation-name: freeflow2;
    animation-duration: 4s;
    border-radius: 2px;
    z-index: 1;
    left:49.5%;
    top: 17%;
  }

}
@keyframes freeflow
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    3% {
        left: 10%;
        top: 15%;
        transform: scale(0.82);
    }
    6% {
        left: 30%;
        top: 40%;
        transform: scale(0.33);
    }
    10% {
        left: 60%;
        top: 5;
        transform: scale(0.95);
    }
    13% {
        left: 80%;
        top: 30%;
        transform: scale(0.26);
    }
    17% {
        left: 60%;
        top: 70%;
        transform: scale(0.88);
    }
    20% {
        left: 30%;
        top: 10%;
        transform: scale(1.9);
    }
    23% {
        left: 50%;
        top: 90%;
        transform: scale(1);
    }
    27% {
        left: 65%;
        top: 30%;
        transform: scale(1.7);
    }
    31% {
        left: 80%;
        top: 90%;
        transform: scale(2.1);
    }
    35% {
        left: 50%;
        top: 80%;
        transform: scale(1.5);
    }
    38% {
        left: 10%;
        transform: scale(1.1);
        top: 10%;
    }
    41% {
        left: 30%;
        top: 60%;
        transform: scale(0.5);
    }
    45% {
        left: 70%;
        transform: scale(0.1);
        top: 70%;
    }
    48% {
        left: 40%;
        top: 10%;
        transform: scale(0.7);
    }
    52% {
        left: 80%;
        transform: scale(1.1);
        top: 70%;
    }
    56% {
        left: 60%;
        transform: scale(0.8);
        top: 20%;
    }
    59% {
        left: 40%;
        transform: scale(1.1);
        top: 90%;
    }
    62% {
        left: 70%;
        transform: scale(0.61);
        top: 30%;
    }
    64% {
        left: 55%;
        transform: scale(0.9);
        top: 60%;
    }
    68% {
        left: 20%;
        transform: scale(1.1);
        top: 10%;
    }
    71% {
        left: 0;
        top: 0;
    }
    75% {
        left: 10%;
        transform: scale(2.1);
        top: 20%;
    }
    78% {
        left: 15%;
        top: 40%;
    }
    81% {
        left: 20%;
        transform: scale(1.1);
        top: 5;
    }
    83% {
        left: 25%;
        top: 30%;
    }
    85% {
        left: 30%;
        transform: scale(1.4);
        top: 70%;
    }
    89% {
        left: 70%;
        top: 10%;
    }
    92% {
        left: 20%;
        transform: scale(0.7);
        top: 80%;
    }
    95% {
        left: 40%;
        top: 30%;
    }
    98% {
        left: 80%;
        transform: scale(1);
        top: 90%;
    }
    100% {
        left: 100%;
        top: 10%;
    }
}


@keyframes freetextflow-default
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    10% {
        left: 60%;
        top: 5;
        transform: scale(0.95);
    }
    13% {
        left: 80%;
        top: 30%;
        transform: scale(0.26);
    }
    17% {
        left: 60%;
        top: 70%;
        transform: scale(0.88);
    }
    27% {
        left: 65%;
        top: 30%;
        transform: scale(1.7);
    }
    31% {
        left: 80%;
        top: 90%;
        transform: scale(2.1);
    }
    35% {
        left: 50%;
        top: 80%;
        transform: scale(1.5);
    }
    38% {
        left: 10%;
        transform: scale(1.1);
        top: 10%;
    }
    52% {
        left: 80%;
        transform: scale(1.1);
        top: 70%;
    }
    56% {
        left: 60%;
        transform: scale(0.8);
        top: 20%;
    }
    59% {
        left: 40%;
        transform: scale(1.1);
        top: 90%;
    }
    62% {
        left: 70%;
        transform: scale(0.61);
        top: 30%;
    }
    64% {
        left: 55%;
        transform: scale(0.9);
        top: 60%;
    }
    68% {
        left: 20%;
        transform: scale(1.1);
        top: 10%;
    }
    71% {
        left: 0;
        top: 0;
    }
    75% {
        left: 10%;
        transform: scale(2.1);
        top: 10%;
    }
    83% {
        left: 25%;
        top: 30%;
    }
    85% {
        left: 30%;
        transform: scale(1.4);
        top: 70%;
    }
    89% {
        left: 70%;
        top: 10%;
    }
    92% {
        left: 20%;
        transform: scale(0.7);
        top: 90%;
    }
    100% {
        left: 100%;
        transform: scale(1);
        top: 10%;
    }
}

@keyframes freetextflow
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    27% {
        left: 65%;
        top: 30%;
        transform: scale(1.7);
    }
    52% {
        left: 80%;
        transform: scale(1.1);
        top: 70%;
    }
    75% {
        left: 10%;
        transform: scale(2.1);
        top: 10%;
    }
    100% {
        transform: scale(1);
        font-weight: 500;
        font-size: 10rem;
        left:36.3%;
        top: 16.2%;
    }
}

@keyframes freetextflow1
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    33% {
        left: 65%;
        top: 30%;
        transform: scale(1.7);
    }
    66% {
        left: 80%;
        transform: scale(1.1);
        top: 70%;
    }
    100% {
        transform: scale(1);
        font-size: 7.3rem;
        font-weight: 500;
        left:41.55%;
        top: 20.75%;
    }
}
@keyframes freetextflow2
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    52% {
        left: 80%;
        transform: scale(1.1);
        top: 70%;
    }
    75% {
        left: 40%;
        transform: scale(2.1);
        top: 70%;
    }
    100% {
        transform: scale(1);
        font-size: 7.5rem;
        font-weight: 500;
        left:45.9%;
        top: 20.9%;
    }
}

@keyframes freetextflow3
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    52% {
        left: 55%;
        transform: scale(1.1);
        top: 70%;
    }
    100% {
        transform: scale(1);
        font-size: 10rem;
        font-weight: 500;
        left:49.5%;
        top: 16%;
    }
}

@keyframes freetextflow4
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    27% {
        left: 35%;
        top: 30%;
        transform: scale(1.7);
    }
    52% {
        left: 80%;
        transform: scale(1.1);
        top: 70%;
    }
    75% {
        left: 30%;
        transform: scale(2.1);
        top: 10%;
    }
    100% {
        transform: scale(1);
        font-size: 7.3rem;
        font-weight: 500;
        left:55.8%;
        top: 21%;
    }
}

@keyframes freetextflow5
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    27% {
        left: 65%;
        top: 30%;
        transform: scale(1.7);
    }
    52% {
        left: 40%;
        transform: scale(1.1);
        top: 70%;
    }
    75% {
        left: 20%;
        transform: scale(2.1);
        top: 10%;
    }
    100% {
        transform: scale(1);
        font-size: 7.5rem;
        font-weight: 500;
        left:60.2%;
        top: 21%;
    }
}

@keyframes freeflow1
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    50% {
        left: 30%;
        transform: scale(3.1);
        top: 70%;
    }
    100% {
        transform: scale(1);
        border-radius: 2px;
        z-index: 1;
        left:49.5%;
        top: 6%;
    }
}
@keyframes freeflow2
{
    0% {
        left: 0;
        top: 0;
        transform: scale(0.51);
    }
    50% {
        left: 30%;
        transform: scale(3.1);
        top: 70%;
    }
    100% {
        transform: scale(1);
        border-radius: 2px;
        z-index: 1;
        left:49.5%;
        top: 17%;
    }
}
