.Post {
    width: 45%;
    // width: 95%;
    // height: 90%;
    padding: 16px;
    color: #000;
    background: #fff;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc 0 4px 6px #aaa;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 120;
}

.Post:hover,
.Post:active {
    background: rgba(#fff0fd, 0.5);
    text-decoration: none;
    color: #ffc06d;
}
//
// .postSummary {
//   text-decoration: none;
//   &:hover {
//     text-decoration: none;
//   }
// }

.Author {
    margin: 16px 0;
    color: #ccc;
}
